@use '../../../styles/tokens' as *;

.login-page {
    display: grid;
    min-height: 100vh;
    place-items: center;
    padding: 24px;

    background:
        linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        $color-background;
    background-size:
        40px 40px,
        40px 40px,
        auto;
}
