@use "../../../styles/tokens" as *;

.icon {
  @include inline-center;

  height: 26px;
  width: 26px;

  color: currentColor;
  border-radius: 6px;

  transition:
    background-color 160ms ease,
    border-color 160ms ease,
    color 160ms ease;

  svg {
    display: block;
    height: 18px;
    width: 18px;
  }

  &--static {
    cursor: default;
  }

  &--animated {
    cursor: pointer;
  }

  &--animated:hover {
    color: $color-icon-hover;
  }
}
