@use "../../../styles/tokens" as *;

.tag {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: $color-muted;
  @include soft-border($color-border, 4px);
  padding: 7px 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  @include ellipsis;
  position: relative;

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__remove {
    @include icon-button(14px, 3px, 12px);
    color: $color-text-muted;
  }

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 35%;
    height: 200%;

    background: linear-gradient(
            90deg,
            transparent 0%,
            rgba($color-text-primary, 0.08) 25%,
            rgba($color-text-primary, 0.35) 50%,
            rgba($color-text-primary, 0.08) 75%,
            transparent 100%
    );

    filter: blur(2px);
    transform: rotate(25deg);
    opacity: 0;
    pointer-events: none;
  }

  &:hover::before {
    animation: tag-shine 550ms ease-out;
  }
}

@keyframes tag-shine {
  0% {
    left: -50%;
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    left: 130%;
    opacity: 0;
  }
}
