@use "../../../styles/tokens" as *;

.profile {
  @include inline-center;
  height: 35px;
  width: 35px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $color-profile-muted;

  &--sm {
    height: 22px;
    width: 22px;
  }

  &__initial {
    color: $color-profile-foreground;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
  }
}
